<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_namme %><br>
    <%= f.text_field :first_namme %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.number_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :needed_by %><br>
    <%= f.date_select :needed_by %>
  </div>
  <div class="field">
    <%= f.label :email_id %><br>
    <%= f.text_field :email_id %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.text_field :priority %>
  </div>
  <div class="field">
    <%= f.label :are_you %><br>
    <%= f.text_field :are_you %>
  </div>
  <div class="field">
    <%= f.label :type_of_request %><br>
    <%= f.text_field :type_of_request %>
  </div>
  <div class="field">
    <%= f.label :purpose_of_request %><br>
    <%= f.text_area :purpose_of_request %>
  </div>
  <div class="field">
    <%= f.label :description_of_request %><br>
    <%= f.text_area :description_of_request %>
  </div>
  <div class="field">
    <%= f.label :time_period %><br>
    <%= f.number_field :time_period %>
  </div>
  <div class="field">
    <%= f.label :student_type %><br>
    <%= f.text_field :student_type %>
  </div>
  <div class="field">
    <%= f.label :campus %><br>
    <%= f.collection_select :campus, Campu.all, :id, :name %>    
  </div>
  <div class="field">
    <%= f.label :irb %><br>
    <%= f.number_field :irb %>
  </div>
  <div class="field">
    <%= f.label :grant_pi %><br>
    <%= f.text_field :grant_pi %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
