<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>First namme</th>
      <th>Last name</th>
      <th>Job title</th>
      <th>Phone number</th>
      <th>Department</th>
      <th>Needed by</th>
      <th>Email</th>
      <th>Priority</th>
      <th>Are you</th>
      <th>Type of request</th>
      <th>Purpose of request</th>
      <th>Description of request</th>
      <th>Time period</th>
      <th>Student type</th>
      <th>Campus</th>
      <th>Irb</th>
      <th>Grant pi</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.first_namme %></td>
        <td><%= ticket.last_name %></td>
        <td><%= ticket.job_title %></td>
        <td><%= ticket.phone_number %></td>
        <td><%= ticket.department %></td>
        <td><%= ticket.needed_by %></td>
        <td><%= ticket.email_id %></td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.are_you %></td>
        <td><%= ticket.type_of_request %></td>
        <td><%= ticket.purpose_of_request %></td>
        <td><%= ticket.description_of_request %></td>
        <td><%= ticket.time_period %></td>
        <td><%= ticket.student_type %></td>
        <td><%= ticket.campus %></td>
        <td><%= ticket.irb %></td>
        <td><%= ticket.grant_pi %></td>
        <td><%= ticket.user %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
