<p id="notice"><%= notice %></p>

<p>
  <strong>First namme:</strong>
  <%= @ticket.first_namme %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @ticket.last_name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @ticket.job_title %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @ticket.phone_number %>
</p>

<p>
  <strong>Department:</strong>
  <%= @ticket.department %>
</p>

<p>
  <strong>Needed by:</strong>
  <%= @ticket.needed_by %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ticket.email_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @ticket.priority %>
</p>

<p>
  <strong>Are you:</strong>
  <%= @ticket.are_you %>
</p>

<p>
  <strong>Type of request:</strong>
  <%= @ticket.type_of_request %>
</p>

<p>
  <strong>Purpose of request:</strong>
  <%= @ticket.purpose_of_request %>
</p>

<p>
  <strong>Description of request:</strong>
  <%= @ticket.description_of_request %>
</p>

<p>
  <strong>Time period:</strong>
  <%= @ticket.time_period %>
</p>

<p>
  <strong>Student type:</strong>
  <%= @ticket.student_type %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @ticket.campus %>
</p>

<p>
  <strong>Irb:</strong>
  <%= @ticket.irb %>
</p>

<p>
  <strong>Grant pi:</strong>
  <%= @ticket.grant_pi %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
